.icono-personalizado {
	font-size: 54px; /* Ajusta el tamaño según tus necesidades */
}
.input-group-append {
    cursor: pointer;
  }
  .bootstrap-tagsinput .tag {
    background-color: rgb(6, 145, 29);
    color: white;
    border-radius: 20px;
    padding: 3px 8px 2px , 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

/* Estilo para los tags de error */
.bootstrap-tagsinput .tag.error {
    background-color: #dc3545; /* Rojo, ajusta según tu preferencia */
}

.suggestions-container {
  position: absolute;
  width: calc(100% - 2px); /* Ancho igual al del campo de entrada */
  max-height: 200px; /* Altura máxima para la ventana de sugerencias */
  overflow-y: auto; /* Habilitar desplazamiento vertical si hay muchas sugerencias */
  border: 1px solid #ccc; /* Borde para la ventana de sugerencias */
  border-top: none; /* Eliminar borde superior para que coincida con el campo de entrada */
  border-radius: 0 0 5px 5px; /* Borde redondeado en la parte inferior */
  background-color: #fff; /* Color de fondo */
  z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
}
.suggestions-item {
  cursor: pointer;
  padding: 5px;
}

.suggestions-item:hover {
  background-color: #f2f2f2; /* Cambiar el color de fondo al pasar el cursor sobre la sugerencia */
}